.second{
    position: absolute;
        width: 395px;
        height: 1027px;
        left: 0px;
        top: 0px;
    
        background: #FFFFFF;
        box-shadow: 3px 0px 32px rgba(216, 216, 216, 0.22);
}
.but1{
    position: absolute;
        width: 150px;
        height: 32px;
        left: 112px;
        top: 57px;
    
        /* Neutrals/2 */
    
        background: #CFCECF;
        border-radius: 8px;
        border: none;
}

.pat{
/* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 20px;

    position: absolute;
    width: 197px;
    height: 33px;
    left: 99px;
    top: 200px;
}
.folda{
    width: 28px;
        height: 28px;
    
    
        /* Inside auto layout */
    
        flex: none;
        order: 0;
        flex-grow: 0;
}
.fat{
    display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px;
        gap: 20px;
    
        position: absolute;
        width: 173px;
        height: 33px;
        left: 99px;
        top: 285px;
}
.lin{
    position: absolute;
        width: 125px;
        height: 0px;
        left: 141px;
        top: 341px;
    
        border: 1px dashed #C1C1C1;
        transform: rotate(90deg);
}
.it{
    position: absolute;
        width: 110px;
        height: 33px;
        left: 165px;
        top: 345px;
    
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 33px;
        /* identical to box height, or 206% */
    
        letter-spacing: 0.01em;
    
        /* Neutrals/4 */
    
        color: #868587;
        border: 0px;
}
.mat{
    position: absolute;
        width: 110px;
        height: 33px;
        left: 165px;
        top: 387px;
    
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 33px;
        /* identical to box height, or 206% */
    
        letter-spacing: 0.01em;
    
        /* Neutrals/4 */
    
        color: #868587;
        border: 0px;
}
.nat{
    position: absolute;
        width: 110px;
        height: 33px;
        left: 165px;
        top: 429px;
    
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 33px;
        /* identical to box height, or 206% */
    
        letter-spacing: 0.01em;
    
        /* Neutrals/4 */
    
        color: #868587;
        border: 0px;
}
.tap{
    display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px;
        gap: 20px;
    
        position: absolute;
        width: 136px;
        height: 33px;
        left: 99px;
        top: 518px;
}
.tion{
    width: 149px;
        height: 33px;
    
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 33px;
        /* identical to box height, or 165% */
    
        letter-spacing: 0.01em;
    
        /* Neutrals/4 */
    
        color: #868587;
    
    
        /* Inside auto layout */
    
        flex: none;
        order: 1;
        flex-grow: 0;
}
.nerate{
    width: 149px;
        height: 33px;
    
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 33px;
        /* identical to box height, or 165% */
    
        letter-spacing: 0.01em;
    
        /* Neutrals/4 */
    
        color: #868587;
    
    
        /* Inside auto layout */
    
        flex: none;
        order: 1;
        flex-grow: 0;
}
.overview{
    width: 88px;
        height: 33px;
    
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 33px;
        /* identical to box height, or 165% */
    
        letter-spacing: 0.01em;
    
        /* Neutrals/4 */
    
        color: #868587;
    
    
        /* Inside auto layout */
    
        flex: none;
        order: 1;
        flex-grow: 0;
}
.wit{
    position: absolute;
        width: 60px;
        height: 33px;
        left: 163px;
        top: 575px;
    
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 33px;
        /* identical to box height, or 206% */
    
        letter-spacing: 0.01em;
    
        /* Neutrals/4 */
    
        color: #868587;
        border: none;
}
.yat{
    position: absolute;
        width: 68px;
        height: 33px;
        left: 163px;
        top: 617px;
    
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 33px;
        /* identical to box height, or 206% */
    
        letter-spacing: 0.01em;
    
        /* Neutrals/4 */
    
        color: #868587;
        border: none;
}
.hat{
    position: absolute;
        width: 54px;
        height: 33px;
        left: 163px;
        top: 659px;
    
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 33px;
        /* identical to box height, or 206% */
    
        letter-spacing: 0.01em;
    
        /* Neutrals/4 */
    
        color: #868587;
        border: none;
}
.dap{
    /* Auto layout */
    
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px;
        gap: 20px;
    
        position: absolute;
        width: 189px;
        height: 33px;
        left: 101px;
        top: 748px;
}
.customize{
    width: 141px;
        height: 33px;
    
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 33px;
        /* identical to box height, or 165% */
    
        letter-spacing: 0.01em;
    
        /* Neutrals/4 */
    
        color: #868587;
    
    
        /* Inside auto layout */
    
        flex: none;
        order: 1;
        flex-grow: 0;
}
.dop{
    display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px;
        gap: 20px;
    
        position: absolute;
        width: 135px;
        height: 33px;
        left: 101px;
        top: 827px;
}
.library{
    width: 83px;
        height: 33px;
    
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 33px;
        /* identical to box height, or 165% */
    
        letter-spacing: 0.01em;
    
        /* Neutrals/4 */
    
        color: #868587;
    
    
        /* Inside auto layout */
    
        flex: none;
        order: 1;
        flex-grow: 0;
}
.ret{
    display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 16px 8px;
        gap: 10px;
    
        position: absolute;
        width: 160px;
        height: 64px;
        left: 1184px;
        top: 30px;
    
        /* Neutrals/4 */
    
        background: #868587;
        border-radius: 8px;
        border: 0px;
        text-decoration: none;
    }
    .bash{
        width: 107px;
            height: 17px;
        
            font-family: 'Manrope';
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            line-height: 17px;
            /* identical to box height, or 85% */
        
            letter-spacing: 0.005em;
        
            /* White */
        
            color: #FFFFFF;
            text-decoration: none;
        
        
            /* Inside auto layout */
        
            flex: none;
            order: 0;
            flex-grow: 0;
    }
    .h3{
        position: absolute;
            width: 453px;
            height: 33px;
            left: 424px;
            top: 174px;
        
            font-family: 'Manrope';
            font-style: normal;
            font-weight: 700;
            font-size: 40px;
            line-height: 33px;
            /* identical to box height, or 82% */
        
            letter-spacing: 0.01em;
        
            /* Neutrals/4 */
        
            color: #868587;
    }
    .ip{
        position: absolute;
            width: 681px;
            height: 56px;
            left: 424px;
            top: 231px;
        
            font-family: 'Manrope';
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 28px;
            /* or 140% */
        
            letter-spacing: 0.005em;
        
            /* Neutrals/4 */
        
            color: #868587;
    }
    .yup{
        position: absolute;
            width: 214px;
            height: 33px;
            left: 424px;
            top: 359px;
        
            font-family: 'Manrope';
            font-style: normal;
            font-weight: 700;
            font-size: 40px;
            line-height: 33px;
            /* identical to box height, or 82% */
        
            letter-spacing: 0.01em;
        
            /* Neutrals/4 */
        
            color: #868587;
    }
    .pol{
        position: absolute;
            width: 366px;
            height: 278px;
            left: 418px;
            top: 411px;
        
            /* Neutrals/3 */
        
            background: #AEADAF;
            border-radius: 8px;
    }
    .kit{
        position: absolute;
            width: 366px;
            height: 112px;
            left: 0px;
            top: 172px;
        
            /* Desktop - 1 */
        
            background: #FAF8FC;
    }
    .M{
        position: absolute;
            width: 232px;
            height: 20px;
            left: 20px;
            top: 11px;
        
            /* caption text small This is the smallest size of text needed in this website and i hope thats ohkay by all of you bold */
        
            font-family: 'Manrope';
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 20px;
            /* identical to box height, or 83% */
        
            letter-spacing: 0.005em;
        
            /* Neutrals/4 */
        
            color: #868587;
    }
    .pok{
        position: absolute;
            width: 340px;
            height: 40px;
            left: 20px;
            top: 53px;
        
            font-family: 'Manrope';
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
            /* or 125% */
        
            letter-spacing: 0.005em;
        
            /* Neutrals/4 */
        
            color: #868587;
    }
    .hot{
        position: absolute;
            width: 366px;
            height: 278px;
            left: 812px;
            top: 424px;
        
            /* Neutrals/3 */
        
            background: #AEADAF;
            border-radius: 8px;
    }
    .ball{
        position: absolute;
            width: 366px;
            height: 112px;
            left: 0px;
            top: 166px;
        
            /* Desktop - 1 */
        
            background: #FAF8FC;
    }
    .k{
        position: absolute;
            width: 307px;
            height: 20px;
            left: 20px;
            top: 11px;
        
            /* caption text small This is the smallest size of text needed in this website and i hope thats ohkay by all of you bold */
        
            font-family: 'Manrope';
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 20px;
            /* identical to box height, or 83% */
        
            letter-spacing: 0.005em;
        
            /* Neutrals/4 */
        
            color: #868587;
    }
    .sop{
        position: absolute;
            width: 366px;
            height: 278px;
            left: 424px;
            top: 738px;
        
            /* Neutrals/3 */
        
            background: #AEADAF;
            border-radius: 8px;
    }
    .got{
        position: absolute;
            width: 366px;
            height: 278px;
            left: 812px;
            top: 738px;
        
            /* Neutrals/3 */
        
            background: #AEADAF;
            border-radius: 8px;
    }
    .wer{
        position: absolute;
            width: 398px;
            height: 33px;
            left: 423px;
            top: 1136px;
        
            font-family: 'Manrope';
            font-style: normal;
            font-weight: 700;
            font-size: 40px;
            line-height: 33px;
            /* identical to box height, or 82% */
        
            /* letter-spacing: 0.01em; */
        
            /* Neutrals/4 */
        
            color: #868587;
    }
    .wor{
        position: absolute;
            width: 396px;
            height: 28px;
            left: 423px;
            top: 1199px;
        
            font-family: 'Manrope';
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 28px;
            /* identical to box height, or 140% */
        
            /* letter-spacing: 0.005em; */
        
            /* Neutrals/4 */
        
            color: #868587;
    }
    .plan{
        position: absolute;
        display: grid;
        grid-area: 
        a a a
        a a a 
        a a a     d d d d d
        a a a     d d d d d
        a a a     d d d d d;
            width: 755px;
            height: 416px;
            left: 423px;
            top: 1259px;
        
            /* Desktop - 1 */
        
            background: #FAF8FC;
            border-radius: 8px;
            
    }
    .a{
    /* position: absolute; */
        width: 196px;
        height: 416px;
        /* left: 423px;
        top: 1240px; */
    
        /* Neutrals/3 */
    
        background: #AEADAF;
    }
    .d{
        position: absolute;
            width: 504px;
            height: 284px;
            left: 223px;
            top: 101px;
        
            /* Neutrals/2 */
        
            background: #CFCECF;
    }
    .iron{
        position: absolute;
            width: 546px;
            height: 33px;
            left: 424px;
            top: 1841px;
        
            font-family: 'Manrope';
            font-style: normal;
            font-weight: 700;
            font-size: 40px;
            line-height: 33px;
            /* identical to box height, or 82% */
        
            letter-spacing: 0.01em;
        
            /* Neutrals/4 */
        
            color: #868587;
    }
    .lion{
        position: absolute;
            width: 525px;
            height: 28px;
            left: 424px;
            top: 1910px;
        
            font-family: 'Manrope';
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 28px;
            /* identical to box height, or 140% */
        
            letter-spacing: 0.005em;
        
            /* Neutrals/4 */
        
            color: #868587;
    }
    .flat{
        position: absolute;
            width: 755px;
            height: 416px;
            left: 423px;
            top: 1969px;
        
            /* Desktop - 1 */
        
            background: #FAF8FC;
            border-radius: 8px;
    }
    .caps{
        position: absolute;
            width: 728px;
            height: 64px;
            left: 418px;
            top: 30px;
        
            /* Desktop - 1 */
        
            background: #FAF8FC;
            border-radius: 8px;
            border: none;
    }

